<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>
<body>
  <div class="hand-indicator">
    <img src="/assets/images/hand.png" alt="Hand" class="hand">
  </div>

</body>
<style>
  /* .hand-indicator {
  width: 100px;
  height: 100px;
  position: relative;
} */

.hand {
  width: 50px;
  height: 50px;
  animation: hand-indicate 2s infinite;
  transform-origin: bottom center;
}


@keyframes hand-indicate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

</style>
</html>