<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
</head>

<body>
    <h1>Send OTP</h1>
    <form id="resetForm" method="POST" action="/send-otp">
        <input type="text" name="mobile" placeholder="Mobile Number" required>
        <button type="submit">SEND OTP</button>
    </form>

    <h1>Verify OTP</h1>
    <form id="verifyOtpForm">
        <input type="text" id="otpInput" name="otp" placeholder="Enter OTP" required>
        <input type="submit" value="Verify OTP" disabled>
        <img id="tickImage" src="" alt="Tick" style="display: none;">
    </form>

    <h1>Create New Password</h1>
    <form id="newPasswordForm" style="display: none;">
        <input type="text" name="userid" id="usserid" placeholder="username" required><br>
        <input type="password" name="password" placeholder="New Password" required><br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
        <button type="submit">Submit</button>
    </form>

    <span id="countdown"></span>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            let otpExpiry = ""; // Declare otpExpiry variable

            $('#resetForm').submit((e) => {
                e.preventDefault();

                $.ajax({
                    url: '/send-otp',
                    method: 'POST',
                    data: $('#resetForm').serialize(),
                    success: (response) => {
                        Swal.fire({
                            title: 'OTP Sent Successfully',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500,
                            heightAuto: false,
                            customClass: {
                                popup: 'custom-popup',
                                content: 'custom-content'
                            }
                        }).then(() => {
                            otpExpiry = new Date(response); // Parse response as Date object
                            console.log("otp ex", otpExpiry);

                            // Enable or disable Verify OTP button based on response
                            enableVerifyOTPButton(!response.error);

                            // Start countdown
                            const countdownElement = document.getElementById('countdown');
                            function updateCountdown() {
                                const currentTime = new Date();
                                const remainingTime = otpExpiry - currentTime;

                                if (remainingTime <= 0) {
                                    countdownElement.innerText = 'OTP expired!';
                                    enableVerifyOTPButton(false); // Disable Verify OTP button when OTP expires
                                } else {
                                    const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                                    const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
                                    countdownElement.innerText = minutes + 'm ' + seconds + 's';
                                }
                            }

                            // Update the countdown every second
                            setInterval(updateCountdown, 1000);
                        });
                    },
                    error: (err) => {
                        alert('Failed to send OTP');
                    }
                });
            });

            $('#verifyOtpForm').submit((event) => {
                event.preventDefault(); // Prevent form submission
                const otp = $('#otpInput').val();
                const requestData = { otp: otp };
                $.ajax({
                    url: '/verify_otp',
                    type: 'POST',
                    data: requestData,
                    success: (response) => {
                        console.log(response);
                        Swal.fire({
                            title: 'Reset Successfully',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500,
                            heightAuto: false,
                            customClass: {
                                popup: 'custom-popup',
                                content: 'custom-content'
                            }
                        }).then(() => {
                            $('#tickImage').attr('src', './LOGO.png'); // Set the source of the tick image
                            $('#tickImage').show(); // Show the tick image
                            $('#verifyOtpForm').hide(); // Hide the verify OTP form
                            $('#resetForm').hide(); // Hide the send OTP form
                            $('#newPasswordForm').show(); // Show the new password form
                        });
                    },
                    error: (xhr, status, error) => {
                        console.error(xhr.responseText);
                    }
                });
            });

            ////////////////////////////////////

            $('#newPasswordForm').submit((event) => {
                event.preventDefault(); // Prevent form submission
                const userid = $('#usserid').val();
                const password = $('#passwordInput').val();
                const confirmPassword = $('#confirmPasswordInput').val();

                if (password !== confirmPassword) {
                    alert('Passwords do not match!');
                    return;
                }

                const requestData = { password: password };
                $.ajax({
                    url: '/update_password',
                    type: 'POST',
                    data: requestData,
                    success: (response) => {
                        console.log(response);
                        Swal.fire({
                            title: 'Password Updated Successfully',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2500,
                            heightAuto: false,
                            customClass: {
                                popup: 'custom-popup',
                                content: 'custom-content'
                            }
                        }).then(() => {
                            // Redirect to login page
                            window.location.href = "/login";
                        });
                    },
                    error: (xhr, status, error) => {
                        console.error(xhr.responseText);
                    }
                });
            });


            function enableVerifyOTPButton(enable) {
                $('#verifyOtpForm input[type="submit"]').prop('disabled', !enable);
            }

            // Your code here
        });
    </script>
</body>

</html>